.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login-logo {
  pointer-events: none;
  width: 100px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #FBBE16;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Login-header {
  background-color: #FBBE16;
  
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-color {
  background-color: transparent;
  border: 2px solid white;
  padding: 5px 5px;
  font-size: 18px;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.btn-color:hover {
  box-shadow: 0 8px 16px 0 rgba(39, 17, 45, 0.1);
  -webkit-transform: scale(1.05) translate(0px, -4px);
  -ms-transform: scale(1.05) translate(0px, -4px);
  transform: scale(1.05) translate(0px, -4px);
}
