.home-container {
    position: relative;
  }
  
  .home-img {
    width: 100%;
    height: 30%;
  }
  
  .home-slogan-container {
    text-align: left;
    position: absolute;
    top: 18%;
    left: 16px;
    color: rgb(65, 64, 64);
  }
  
  .home-slogan {
    font-size: 4rem;
  }
  
  .home-wording {
    margin-top: 3%;
    font-size: 3rem;
  }
  
  .home-nav-links {
    margin-top: 10%;
  }
  
  .home-signup,
  .home-signin {
    margin-right: 2%;
    
  }
   h1 {
     color: rgb(23, 25, 27);
   }
   h2 {
     color:rgb(207, 186, 212);
     text-decoration: underline;
     margin: 5px;
   }
   h1:hover {
    font-size: 24px;
    transition: 6s all ease-in-out;
    color:rgb(139, 197, 236);
   }
   h2:hover {
    font-size: 2px;
    transition: 6s all ease-in-out;
    color: blueviolet
   }
   